.layui-layout-admin .layui-header {
  width: 100%;
  position: fixed;
  top: 0;
}
body {
  background: #fbfbfb;
}
.container {
  padding: 10px;
  background: #fff;
}
.container .layui-search {
  padding: 15px 10px;
  border: 1px solid #ddd;
  background: #f7f7f7;
}
.container .layui-search .layui-form-item {
  margin-bottom: 0;
  clear: both;
}
.container .orderInfo {
  margin-top: 10px;
}
.container .editOrder {
  border: 1px solid #ddd;
  width: 100%;
  text-align: center;
  margin-top: 10px;
  clear: both;
}
.container .editOrder tr {
  border-bottom: 1px solid #fcfcfc;
}
.container .editOrder tr td {
  padding: 15px 5px;
  background: #bed8dd;
}
.container .editOrder tr td input {
  width: 60px;
  margin: 0 10px;
  height: 24px;
  padding: 0 5px;
  border: 0;
  text-align: right;
}
.container .editOrder tr td:first-child {
  background: #6a90aa;
  color: #fff;
  font-weight: bold;
}
.container .layui-btn-save {
  background: #2eba55;
}
.layui-layout-left {
  position: absolute;
  left: 0px !important;
}
.layui-layout-left .layui-nav-bar {
  display: none;
}
.orderView {
  margin-top: 60px;
}
.orderView .order {
  margin-top: 10px;
}
.orderView .order .fa-plus-circle,
.orderView .order .fa-minus-circle {
  position: absolute;
  left: 15px;
  top: 12px;
  font-size: 16px;
  color: #2c93fd;
}
.orderView .order .delete {
  position: absolute;
  right: 25px;
  top: 7px;
  color: #cf0303;
  font-size: 24px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}
.orderView .order .time,
.orderView .order .money,
.orderView .order .name,
.orderView .order .number {
  margin-right: 50px;
  color: #1a1b24;
  font-weight: bold;
  font-size: 15px;
}
.orderView .order .time {
  color: #086bfe;
}
.orderView .order .money {
  color: #f40;
}
.orderView .order .buyOrder {
  width: 100%;
  border: 1px solid #CADEFF;
}
.orderView .order .buyOrder tr td,
.orderView .order .buyOrder tr th {
  border-bottom: 1px solid #CADEFF;
  padding: 10px;
  text-align: center;
}
.orderView .order .buyOrder tr th {
  background: #f8f8f8;
}
.orderView .order .buyOrder tr:hover {
  background: #f4f7fd;
}
.orderView .order .layui-colla-item {
  position: relative;
  box-shadow: 2px 2px 5px #ddd;
}
.orderView .order .layui-colla-content {
  border-color: #fff;
  padding: 0px 15px 10px 15px;
}
.orderView .order .withoutOrder {
  padding: 50px 0;
  border: 1px solid #ddd;
}
.orderView .order .withoutOrder p {
  text-align: center;
  font-size: 18px;
  color: #f40;
  font-weight: bold;
}
.orderView .layui-form-select .layui-input {
  border: 0;
}
.orderView .layui-colla-icon {
  display: none;
}
.orderView .layui-colla-title {
  background: #e2f2ff;
  margin-bottom: 10px;
  padding-left: 60px;
  border-top: 3px solid #a7cbff;
}
.orderView .selectSearch {
  padding: 15px;
  background: #eee;
}
.orderView .selectSearch .layui-form-item {
  margin-bottom: 0px;
}
/* 添加购物车样式 */
.containerBg {
  width: 100%;
  background: url(images/cart.jpg) no-repeat;
  background-size: 100% 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  overflow-y: auto;
}
.containerBg .moduleCart {
  padding-bottom: 37px;
}
.containerBg .moduleCart .moduleTop {
  padding-top: 100px;
  overflow: hidden;
}
.containerBg .moduleCart .moduleTop ul {
  width: 1286px;
  margin: 0 auto;
}
.containerBg .moduleCart .moduleTop ul li {
  width: 280px;
  float: left;
  margin-left: 55px;
  margin-bottom: 45px;
}
.containerBg .moduleCart .moduleTop ul li .moduleBg {
  background: url('images/moduleTopBg.png') no-repeat;
  width: 100%;
  height: 108px;
  line-height: 108px;
  color: #fff;
  font-size: 16px;
  padding: 0 30px;
  box-sizing: border-box;
}
.containerBg .moduleCart .moduleTop ul li .moduleBg p {
  position: relative;
  padding-left: 40px;
}
.containerBg .moduleCart .moduleTop ul li .moduleBg .icon {
  width: 32px;
  height: 19px;
  position: absolute;
  left: 0;
  top: 44px;
}
.containerBg .moduleCart .moduleTop ul li .moduleBg .icon1 {
  background: url('images/icon1.png') no-repeat;
}
.containerBg .moduleCart .moduleTop ul li .moduleBg .icon2 {
  background: url('images/icon2.png') no-repeat;
}
.containerBg .moduleCart .moduleTop ul li .moduleBg .icon3 {
  background: url('images/icon3.png') no-repeat;
}
.containerBg .moduleCart .moduleTop ul li .moduleBg .icon4 {
  background: url('images/icon4.png') no-repeat;
}
.containerBg .moduleCart .moduleTop ul li:first-child {
  margin-left: 0;
}
.containerBg .moduleCart .moduleBottom {
  overflow: hidden;
}
.containerBg .moduleCart .moduleBottom ul {
  width: 1286px;
  margin: 0 auto;
}
.containerBg .moduleCart .moduleBottom ul li {
  width: 615px;
  margin-left: 55px;
  float: left;
}
.containerBg .moduleCart .moduleBottom ul li .moduleBg {
  background: url('images/moduleBottomBg.png') no-repeat;
  width: 100%;
  height: 127px;
  line-height: 127px;
  color: #fff;
  font-size: 32px;
  padding: 0 30px;
  box-sizing: border-box;
}
.containerBg .moduleCart .moduleBottom ul li .moduleBg p {
  position: relative;
  padding-left: 70px;
}
.containerBg .moduleCart .moduleBottom ul li .moduleBg .icon {
  width: 68px;
  height: 41px;
  position: absolute;
  left: 0;
  top: 44px;
}
.containerBg .moduleCart .moduleBottom ul li .moduleBg .icon5 {
  background: url('images/icon5.png') no-repeat;
}
.containerBg .moduleCart .moduleBottom ul li .moduleBg .icon6 {
  background: url('images/icon6.png') no-repeat;
}
.containerBg .moduleCart .moduleBottom ul li .moduleUnit {
  background: #fff;
  padding: 20px 30px 10px 30px;
  overflow: hidden;
  height: 130px;
}
.containerBg .moduleCart .moduleBottom ul li .moduleUnit label {
  color: #999999;
  width: 20%;
}
.containerBg .moduleCart .moduleBottom ul li .moduleUnit input {
  width: 80%;
  padding: 5px 10px;
  box-sizing: border-box;
  margin: 10px 0;
}
.containerBg .moduleCart .moduleBottom ul li .moduleUnit .view {
  float: right;
}
.containerBg .moduleCart .moduleBottom ul li .moduleUnit .webIP {
  height: 100px;
  line-height: 100px;
}
.containerBg .moduleCart .moduleBottom ul li .moduleMoney {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  overflow: hidden;
}
.containerBg .moduleCart .moduleBottom ul li .moduleMoney p {
  float: left;
}
.containerBg .moduleCart .moduleBottom ul li .moduleMoney .addToCart {
  float: right;
}
.containerBg .moduleCart .moduleBottom ul li:first-child {
  margin-left: 0;
}
.containerBg .moduleCart .button {
  float: right;
}
.containerBg .moduleCart .button .add,
.containerBg .moduleCart .button .addmore {
  background: #6ba9b8;
}
.containerBg .moduleCart .moduleTime {
  background: #fff;
  padding: 20px 30px 30px 30px;
  box-sizing: border-box;
}
.containerBg .moduleCart .moduleTime label {
  color: #999999;
}
.containerBg .moduleCart .moduleTime select {
  height: 32px;
  width: 140px;
  margin-left: 30px;
  border: 1px solid #b7b7b7;
  border-radius: 3px;
}
.containerBg .moduleCart .lineBg {
  background: #fff;
}
.containerBg .moduleCart .lineBg .line {
  height: 1px;
  background: #b7b7b7;
  margin: 0 30px;
}
.containerBg .moduleCart .moduleMoney {
  background: #fff;
  padding: 20px 30px 30px 30px;
}
.containerBg .moduleCart .moduleMoney p {
  color: #3f5e53;
  font-size: 16px;
  margin-bottom: 20px;
  font-weight: bold;
}
.containerBg .moduleCart .moduleMoney p span {
  color: #a7a7a7;
  text-decoration: line-through;
  font-size: 12px;
}
.containerBg .moduleCart .moduleMoney button {
  background: #99ccc7;
  border: 1px solid #267488;
}
.batchAdd {
  padding: 10px;
  display: none;
}
.batchAdd input {
  width: 100%;
  border: 1px solid #ddd;
  padding: 10px;
  box-sizing: border-box;
}
.batchAdd .prompt {
  color: red;
  padding: 10px;
}
.batchAdd .prompt a {
  text-decoration: underline;
  color: #007bf0;
}
.batchAdd li {
  padding: 10px 20px;
  border-bottom: 1px solid #f2f2f2;
}
.cart {
  width: 100px;
  height: 100px;
  background: url(images/cart.png) no-repeat;
  background-size: 100% 100%;
  position: fixed;
  bottom: 38px;
  right: 24px;
}
/* 安全云服务大厅样式 */
.service {
  width: 100%;
  background: url('images/serivceBg.png') no-repeat;
  background-size: 100% 100%;
  padding-top: 70px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  bottom: 0;
}
.service .title {
  font-size: 38px;
  color: #21f0f2;
  text-align: center;
  font-weight: bold;
  padding: 10px;
}
.service .service_container {
  margin: 0 auto;
  width: 1100px;
  overflow: hidden;
}
.service .service_container .module {
  width: 396px;
  height: 97px;
  cursor: pointer;
}
.service .service_container .fl {
  float: left;
}
.service .service_container .fr {
  float: right;
}
.service .service_container .top {
  margin: 170px auto 100px;
  overflow: hidden;
}
.service .service_container .top .topLeft {
  background: url('images/service1.png') no-repeat;
}
.service .service_container .top .topRight {
  background: url('images/service2.png') no-repeat;
}
.service .service_container .center .middle {
  width: 424px;
  margin: 0 auto;
  background: url('images/service5_active.png') no-repeat;
}
.service .service_container .bottom {
  overflow: hidden;
  margin: 100px auto 0;
}
.service .service_container .bottom .bottomLeft {
  background: url('images/service3.png') no-repeat;
}
.service .service_container .bottom .bottomRight {
  background: url('images/service4.png') no-repeat;
}
@media screen and (max-width: 1366px) {
  .top {
    margin: 60px auto !important;
  }
  .bottom {
    margin: 50px auto 0 !important;
  }
  .indexUser {
    padding: 0 !important;
  }
  .indexUser .indexContent .titleBg {
    width: 220px;
    height: 67px;
    background-size: 100% 100%;
  }
  .indexUser .indexContent .modules {
    width: 730px;
  }
  .indexUser .indexContent .modules li {
    width: 226px;
    height: 234px;
  }
  .indexUser .indexContent .modules:last-child {
    margin-bottom: 0;
  }
}
/* 合同附件和下载购物清单 */
.contract {
  margin-top: 70px;
  background: #fff;
}
.contract .buyOrder tr td,
.contract .buyOrder tr th {
  border: 1px solid #CADEFF;
}
.contract .fa.deleteList {
  color: #cf0303;
  font-size: 24px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
}
.contract .fa.fa-download {
  color: #59a4fa;
  font-size: 24px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
}
.contract .uploadButton {
  margin: 10px 0px;
}
.contract .uploadButton .file {
  padding: 10px;
  box-sizing: border-box;
  background: #eee;
}
/* 用户首页样式 */
.indexUser {
  background: url(images/indexBg.png) center center;
  background-size: cover;
  width: 100%;
  padding: 36px 0;
  margin-top: 60px;
  position: fixed;
  top: 0;
  bottom: 0;
  overflow: auto;
}
.indexUser .titleBg {
  background: url('images/index_title.png') no-repeat;
  width: 393px;
  height: 128px;
  margin: 0px auto;
}
.indexUser .indexContent ul {
  overflow: hidden;
  margin: 30px auto;
  width: 934px;
}
.indexUser .indexContent ul li {
  width: 294px;
  height: 312px;
  float: left;
  margin-left: 26px;
  cursor: pointer;
  position: relative;
  text-align: center;
}
.indexUser .indexContent ul li button {
  width: 100px;
  height: 36px;
  background: #2bfff1d4;
  margin: 20px auto;
  text-align: center;
  color: #fff;
  border: 0;
  cursor: pointer;
  border-radius: 2px;
}
.indexUser .indexContent ul li :hover {
  background: #f40;
}
.indexUser .indexContent ul .module1 {
  background: url('images/indexModule1.png') no-repeat;
  background-size: 100% 100%;
}
.indexUser .indexContent ul .module1.default {
  background: url('images/indexDefault1.png') no-repeat;
  background-size: 100% 100%;
}
.indexUser .indexContent ul .module2 {
  background: url('images/indexModule2.png') no-repeat;
  background-size: 100% 100%;
}
.indexUser .indexContent ul .module2.default {
  background: url('images/indexDefault2.png') no-repeat;
  background-size: 100% 100%;
}
.indexUser .indexContent ul .module3 {
  background: url('images/indexModule3.png') no-repeat;
  background-size: 100% 100%;
}
.indexUser .indexContent ul .module3.default {
  background: url('images/indexDefault3.png') no-repeat;
  background-size: 100% 100%;
}
.indexUser .indexContent ul .module4 {
  background: url('images/indexModule4.png') no-repeat;
  background-size: 100% 100%;
}
.indexUser .indexContent ul .module4.default {
  background: url('images/indexDefault4.png') no-repeat;
  background-size: 100% 100%;
}
.indexUser .indexContent ul .module5 {
  background: url('images/indexModule5.png') no-repeat;
  background-size: 100% 100%;
}
.indexUser .indexContent ul .module5.default {
  background: url('images/indexDefault5.png') no-repeat;
  background-size: 100% 100%;
}
.indexUser .indexContent ul .module6 {
  background: url('images/indexModule6.png') no-repeat;
  background-size: 100% 100%;
}
.indexUser .indexContent ul .module6.default {
  background: url('images/indexDefault6.png') no-repeat;
  background-size: 100% 100%;
}
.indexUser .indexContent ul li:first-child {
  margin-left: 0;
}
/* 购物车页面 */
.shoppingCart {
  margin-top: 60px;
  padding-bottom: 60px;
}
.shoppingCart .layui-colla-title {
  height: 60px;
  line-height: 60px;
}
.shoppingCart .order .fa-plus-circle,
.shoppingCart .order .fa-minus-circle {
  top: 18px;
  font-size: 22px;
}
.shoppingCart .order .delete {
  top: 14px;
  cursor: pointer;
}
.shoppingCart .order .number {
  width: 100px;
  height: 30px;
}
.shoppingCart .order .deleteTr {
  font-size: 22px;
  color: #cf0303;
  cursor: pointer;
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.shoppingCart .order .edit {
  font-size: 22px;
  color: #0018ff;
  width: 30px;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
}
.shoppingCart .order tr td {
  word-break: break-word;
  width: 45%;
}
.shoppingCart .order tr td:first-child {
  width: 30%;
}
.shoppingCart .functionButton {
  height: 60px;
  line-height: 60px;
  background: #d7d7d7;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 10px;
}
.shoppingCart .functionButton .button {
  text-align: center;
}
.shoppingCart .functionButton .buyModule {
  background: #f40;
}
.operationManage {
  margin-top: 60px;
}
.operationManage .button {
  height: 60px;
  line-height: 60px;
  text-align: center;
}
